/* .main_container {
    display: flex;
} */
.errors {
    color: red;
    font-size: 1em;
}

.signup_form_container {
    border-radius: 25px;
    padding: 10px 20px;
    background-color: whitesmoke;
}
.signup_form_container > h1 {
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.signup_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    /* margin-top: 10px; */
    background-color: white;
    height: 20px;
    width: 200px;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 5px;
}
.signup_input:hover {
    border: 1px solid black
}

.signup_disabled_button {
    flex-direction: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 35px;
    width: 200px;    
    background-color: grey;
    color: white;
    border: none;
    border-radius: 10px;

}

.signupButton {
    flex-direction: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 35px;
    width: 200px;    
    background-color: #fe6d72;
    color: white;
    border: none;
    border-radius: 10px;
}
