.membership_status_button {
    flex-direction: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 25px;
    width: 90px;    
    background-color: rgb(94, 93, 93);
    color: white;
    cursor:pointer;
    border: none;
    border: 1px solid black;
}

.members_main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.members_list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.members_list > img {
    width: 40px;
    height: 40px;
}

.member_action {
    display: flex;
    align-items: center;
    gap: 40px;
    
}

.user_name {
    font-size: 18px;
    font-weight: bold;
}

.member_full_list {
    width: 525px;
}

.organizer_buttons_container_user {
    display: flex;
    gap: 10px;
}
