.landing_page_container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin-right: 25px;
    gap: 10px
}

.about_us_main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.about_us_text {
    width: 800px;
}

.landing_page_image_container>img {
    height: 300px;
    width: 400px;
}

.how_does_it_work_container {
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    background-color: #fff1f1;
    border-radius: 15px;
    border: 0.1px solid #ffdfdf;
}

.see_groups_events_start_new_container {
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    padding-right: 150px;
}

.about_us_img {
    height: 100%;
    width: 100%;
    max-width: 300px;
    max-height: 400px;
}

.sub_see_groups_events_start_new_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    text-decoration: none;
    color: teal;
    justify-content: space-around;
}

.see_groups_events_start_new_container_button {
    flex-direction: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 45px;
    width: 200px;
    background-color: #00798a;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    /* display: hidden; */
}

.join_us {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
    width: 100%;
    height: 100%;
}

.see_groups_events_start_new_container_link,
.user_logged_in_class {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.user_not_logged_in {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: gray;
    pointer-events: none;
}

.groups_events_nav {
    display: flex;
    gap: 35px
}

.groups_events_nav_groups, .groups_events_nav_events, .events_nav_groups, .events_nav_events {
    font-size: 25px;
}

.groups_events_nav_events, .events_nav_events {
    text-decoration: none;
    color: black;
}
