/* Heading */
h1 {
    font-size: 24pt;
    font-weight: bold;
  }
  
  /* Subheading */
  h2 {
    font-size: 18pt;
    font-weight: bold;
  }
  
  /* Normal text */
  p {
    font-size: 14pt;
    font-weight: normal;
  }

  html *{
    /* background-color: whitesmoke; */
    font-family: sans-serif ;
    box-sizing:content-box;
    padding: 2px;
    /* background-color: whitesmoke; */
    }

    #root {
      background-color: white;
    }
